* {
    margin: 0;
    padding: 0;
}

:root {
    --main-background: #e2e8f0;
    --board-background: #334155;
}

body {
    display: grid;
    grid-template-rows: 100px 1fr;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100vh;
    background-color: var(--main-background);
}

.board {
    width: 600px;
    height: 600px;
    background-color: var(--board-background);
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
    gap: 10px;
}

.cell {
    text-transform: capitalize;
    background-color: var(--main-background);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 96px;
    color: var(--board-background);
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
}

.win-line {
    position: absolute;
    width: 600px;
    height: 10px;
    /* background-color: #fff; */
    z-index: 1;
    transform: rotate(0deg); /* Default */
}